@model IEnumerable<AppDatabasesGuide.Models.AppDatabase>

@{
    ViewData["Title"] = "Databases";
}

<h2>Databases</h2>

<p>
    <a asp-action="AddDatabase">Yeni Database</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Database Adı
            </th>
            <th>
                Açıklama
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateDatabase", new { id = item.Id }) | <a href="/Home/DeleteDatabase" onclick="return confirm('Silinecek Emin Misiniz?')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
